.categories-container {
  width: 100%;
  min-height: calc(100vh - 150px);
  padding: 0 120px;
  max-width: 1440px;
  margin: 50px auto;
}

@media screen and (max-width: 1200px) {
  .categories-container {
    padding: 0 32px;
  }
}
